:root {
    --color-1: #080708;
    --color-2: #7D83FF;
    --color-3: #403D39;
    --color-4: black;
    --color-5: #333;

    --text-color: #39FF14;

    --color-red: #FF1177;
    --color-orange: #FF9900;
    --color-violet: #FF00DE;
    --color-blue: #228DFF;
    --color-light-blue: rgb(96, 174, 252);
    --color-grey: #666;
    --color-green: #39FF14;
    --color-yellow: rgb(252, 255, 49);
}

html, body {
    height: 100%;
}

h1 {
    font-size: 2em;
    font-weight: 700;
    text-shadow: 0 0 15px;
}

h2 {
    font-size: 1.7em;
    text-shadow: 0 0 15px;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
    text-shadow: 0 0 10px;
}

p {
    line-height: 1.4em;
}

em {
    font-style: italic;
}

body {
    background-color: var(--color-3);
    color: var(--text-color);
}

.color-red {
    color: var(--color-red);
}

.color-violet {
    color: var(--color-violet);
}

.color-orange {
    color: var(--color-orange);
}

.color-blue {
    color: var(--color-blue);
}

.color-grey {
    color: var(--color-grey);
}

.text-justify {
    text-align: justify;
}

.page {
    margin: 0px auto;
    padding: 20px 20px;
    font-family: 'Source Code Pro', monospace;
    background-color: var(--color-4);
}

.header {
    text-align: center;
    margin: 40px 0px 60px 0px;
}

.header-title {
    margin: 14px 0;
}

.content-header {
    text-align: center;
    margin: 10px 0;
    line-height: 1.4em; 
}

.section-title {
    margin: 40px 0;
    text-align: center;
}

.pill {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border: 1px solid;
    border-radius: 2px;
    min-width: 70px;
    border-color: var(--color-violet);
    box-shadow: 0px 0px 3px 1px var(--color-violet);
    text-shadow: 0 0 1px;
    text-align: center;
    user-select: none;
    cursor: default;
}

.card-container {
    display: grid;
}

.card {
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    padding: 25px;
    cursor: pointer;
}

.card-green {
    border: 3px solid;
    border-color: var(--color-green);
    background-color: rgb(2, 42, 20);
    color: var(--color-green);

    box-shadow: 0px 0px 40px 1px var(--color-green);
}

.card-green:hover {
    border-color: var(--color-yellow);
    color: var(--color-yellow);
    background-color: rgb(24, 24, 6);

    box-shadow: 0px 0px 40px 1px var(--color-yellow);
}

.card-img {
    width: 40%;
    margin: 5px;
}

.card-title {
    padding: 10px;
    font-size: 1.4em;
}

.send-mail-link:hover {
    color: var(--color-light-blue) 
}

.footer {
    text-align: center;
    margin-top: 30px;
}

@media only screen and (min-width : 320px) {
    .page {
        width: 90%;
    }
    
    .header {
    }

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .page {
        width: 90%;
    }

    .card-container {
        grid-template-columns: 50% 50%;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .page {
        width: 80%;
    }

    .card-container {
        grid-template-columns: 50% 50%;
    }

    .card-big {
        height: 170px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .page {
        width: 80%;
    }


    .card-container {
        grid-template-columns: 33% 33% 33%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .page {
        width: 70%;
    }
}
