<template id="nav-component">
    <nav class="nav">
        <ul class="nav-list">
            <router-link href="#" [link]="/" class="active">
                <li class="nav-list-item">Blog</li>
            </router-link>
            <router-link href="#" [link]="aboutMe">
                <li class="nav-list-item">About me</li>
            </router-link>
            <router-link href="#" [link]="contact"> 
                <li class="nav-list-item">Contact</li>
            </router-link>
        </ul>
    </nav>
</template>
<script src="./navigation.js"></script>
