<template id="contact-component">
    <style>
        form {
            display: block;
            text-align: center;
            margin-top: 40px;
        } 

        p {
            font-size: 0.9em;
            line-height: 1.3em;
        }

        .form-input {
            transition: box-shadow ease-in-out .2s;
            display: inline-block;
            border: 1px solid #aaa;
            padding: 5px;
            width: 80%;
            margin: 10px 0px;
            box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0);
        }

        .form-input:focus {
            outline: none;
        }

        .form-input[name="form_name"]:focus {
            box-shadow: 0px 0px 40px 5px rgba(129, 199, 132, 1);
        }

        .form-input[name="form_email"]:focus {
            box-shadow: 0px 0px 40px 5px rgba(126, 87, 194, 1);
        }

        .form-input[name="form_message"]:focus {
            box-shadow: 0px 0px 40px 5px rgba(77, 208, 225, 1);
        }

        .form-message {
            resize: none;
            height: 200px;
        }

        .error {
            display: inline-block;
            width: 100%;
            color: #B71C1C;
        }

        .error-input {
            background-color: #EED7D7;
        }

        .form-footer {
            display: inline-block;
            width: 80%;
            padding: 5px;
            text-align: right;
        }
    </style>

    <h2>Contact me </h2>
    <p> You can email me directly on: krol22ee@gmail.com or you can use contact form to send me a message.</p>
    <form id="contact_form">

        <input class="form-input" 
               placeholder="NAME" 
               id="form_name" 
               name="form_name" 
               type="text" 
               required/>
        <div class="error form_name_err_required">* Name field is required</div>

        <input class="form-input" 
               placeholder="EMAIL" 
               id="form_email" 
               name="form_email" 
               type="email" 
               required/>
        <div class="error form_email_err_required">* Email field is required</div>
        <div class="error form_email_err_type">* Please type email</div>

        <textarea class="form-input form-message" 
                  id="form_message" 
                  name="form_message" 
                  required></textarea>
        <div class="error form_message_err_required">* Message field is required</div>
        <div class="form-footer">
            <button type="button">Send message</button>
        </div>
    </form>
</template>
<script src="./contact.js"></script>
